* {
  border: 1px dotted black;
}

header {
  padding-left: 147px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3f3f3f;
}

header ul {
  list-style-type: none;
  margin: 25px;
  padding: 0;
  width: 720px;
  float: right;
}

header li {
  display: inline;
  margin: 50px;
  color: #939393;
}

section {
  margin: 0 auto;
  width: 960px;
  padding-top: 30px;
}

section img {
  /*padding-top: 15px;*/
  padding-bottom: 30px;
}

section li {
  display: inline;
  /*margin: 5px;*/
}

section ul {
  width: 960px;
  margin: 0 auto;
  padding-left: 0px;
}

footer {
  background-color: #3f3f3f;
  padding: 30px;  
}
